//- Update Form Pug Template - updates.pug
doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title

    // Form for creating or updating a Pet record
    form(action='/update-cobj', method='POST')
      label(for="name") Name
      input(type="text", id="name", name="name" required)

      label(for="species") Species
      input(type="text", id="species", name="species" required)

      label(for="breed") Breed
      input(type="text", id="breed", name="breed" required)

      button(type="submit") Submit

    a(href='/') Return to the homepage

